<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/updateStudent/{id}(id=${student.id})}" th:object="${student}">
        <label>FirstName</label>
        <input type="text" name="firstName" th:field="*{fname}" value="">
        <br/><br/>
        <label>LastName</label>
        <input type="text" name="lastName" th:field="*{lname}" placeholder="Enter Last Name">
        <br/><br/>
        <label>Email</label>
        <input type="text" name="email" th:field="*{email}" placeholder="Enter Email">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>